@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:rgb(0, 162, 255);
    --light-color:rgb(180, 175, 175);
    --danger-color:red;
    --grey-color:rgb(168, 167, 167);
}
body{
    padding-block-start: 100px;
    background: linear-gradient(45deg, red, green 40%, blue);
}
.bg-grey{
    background-color: var(--grey-color);
}
.bg-primary{
    background-color: var(--primary-color);
}
.container{
    width: 80%;
    margin: auto;
}
.flex{
    display: flex;
}
.font-lg{
    font-size: 2rem;
}
form{
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    margin: auto;
    justify-content: flex-start;
    align-items: flex-start;
}
.fw-500{
    font-weight: 500;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
input{
    width: 94%;
    margin: auto;
    padding-inline: .4rem;
}

input[type=text],select{
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: solid 1px grey;
}
input,select{
    border-radius: 4px;
    border: none;
}

input[type=submit],select{
    color: white;
    width: 100%;
    padding-inline: .4rem;


}
.logo,select,
input[type=submit]:hover{
    cursor: pointer;
}

input:hover,select:hover{
    box-shadow: 0 0 28px white;
}

input:focus,select:focus{
    box-shadow: 0 0 24px var(--primary-color);
    outline: none;
}
input::placeholder{
    color: white;
}

label{
    color: var(--primary-color);
}
.p-1{
    padding-block: .5rem;
}
.p-block-1{
    padding-block: 1rem;
}
select option{
    background: var(--primary-color);
}

.text-primary{
    color: var(--primary-color);
}
.text-center{
    text-align: center;
}
/* Table styles */
